In [1]:
import pandas as pd

ACCOMMODATION TYPE

In [2]:
accommodation_type = pd.read_csv('TS044-2021-1-filtered-2023-01-23T09_05_19Z.csv')
accommodation_type = accommodation_type.drop(columns = ['Output Areas'])
accommodation_type = accommodation_type.rename(columns={'Observation': 'Observation_accommodation'})

accommodation = accommodation_type[accommodation_type['Output Areas Code'] == 'E00009198']

In [3]:
accommodation_pivoted = accommodation_type.pivot(index="Output Areas Code", columns="Accommodation type (8 categories)", values="Observation_accommodation")
accommodation_pivoted = accommodation_pivoted.rename(columns ={'Semi-detached':'semi_detached', 'In a purpose-built block of flats or tenement':'flat_tenement', 'Part of a converted or shared house, including bedsits':'house', 'A caravan or other mobile or temporary structure':'caravan','In a commercial building, for example, in an office building, hotel or over a shop':'commercial', 'Part of another converted building, for example, former school, church or warehouse':'converted'})

In [4]:
accommodation_pivoted['detached/semi/terraced'] = accommodation_pivoted.Detached + accommodation_pivoted.semi_detached + accommodation_pivoted.Terraced
accommodation_pivoted = accommodation_pivoted.drop(columns =['Detached', 'semi_detached', 'Terraced'])

In [5]:
accommodation_pivoted['flat/whole_house'] = accommodation_pivoted.flat_tenement + accommodation_pivoted.house
accommodation_pivoted = accommodation_pivoted.drop(columns =['flat_tenement', 'house'])

In [6]:
accommodation_pivoted['other_accommodation'] = accommodation_pivoted.caravan + accommodation_pivoted.commercial + accommodation_pivoted.converted
accommodation_pivoted = accommodation_pivoted.drop(columns =['caravan', 'commercial', 'converted'])

HEATING

In [8]:
heating = pd.read_csv('TS046-2021-1-filtered-2023-01-23T09_05_38Z.csv')
heating = heating.drop(columns = ['Output Areas'])
heating = heating.rename(columns={'Observation': 'Observation_heating'})

In [9]:
heating_pivoted = heating.pivot(index="Output Areas Code", columns="Type of central heating in household (13 categories)", values="Observation_heating")

BEDROOMS

In [10]:
bedrooms = pd.read_csv('TS050-2021-1-filtered-2023-01-23T09_06_02Z.csv')
bedrooms = bedrooms.drop(columns = ['Output Areas'])
bedrooms = bedrooms.rename(columns={'Observation': 'Observation_bedrooms'})

In [11]:
bedrooms_pivoted = bedrooms.pivot(index="Output Areas Code", columns="Number of Bedrooms (5 categories)", values="Observation_bedrooms")

ROOMS

In [12]:
rooms = pd.read_csv('TS051-2021-1-filtered-2023-01-23T09_06_23Z.csv')
rooms = rooms.drop(columns = ['Output Areas'])
rooms = rooms.rename(columns={'Observation': 'Observation_rooms'})

In [13]:
rooms_pivoted = rooms.pivot(index="Output Areas Code", columns="Number of rooms (Valuation Office Agency) (9 categories)", values="Observation_rooms")

TENURE

In [14]:
tenure = pd.read_csv('TS054-2021-1-filtered-2023-01-23T09_04_52Z.csv')
tenure = tenure.drop(columns = ['Output Areas'])
tenure = tenure.rename(columns={'Observation': 'Observation_tenure'})

In [15]:
tenure_pivoted = tenure.pivot(index="Output Areas Code", columns="Tenure of household (9 categories)", values="Observation_tenure")
tenure_pivoted = tenure_pivoted.rename(columns = {'Owned: Owns outright':'own_outright', 'Owned: Owns with a mortgage or loan':'own_mortgage', 'Private rented: Other private rented':'private_rent', 'Shared ownership: Shared ownership':'shared_ownership', 'Social rented: Other social rented':'social_rent', 'Social rented: Rents from council or Local Authority':'social_local_authority', 'Private rented: Private landlord or letting agency':'private_rent_agency'})

In [16]:
tenure_pivoted['owner_occupied'] = tenure_pivoted.own_outright + tenure_pivoted.shared_ownership + tenure_pivoted.own_mortgage
tenure_pivoted = tenure_pivoted.drop(columns =['Does not apply', 'Lives rent free', 'own_outright', 'shared_ownership', 'own_mortgage'])

In [17]:
tenure_pivoted['private_rented'] = tenure_pivoted.private_rent + tenure_pivoted.private_rent_agency
tenure_pivoted = tenure_pivoted.drop(columns =['private_rent', 'private_rent_agency'])

In [18]:
tenure_pivoted['social_rented'] = tenure_pivoted.social_rent + tenure_pivoted.social_local_authority
tenure_pivoted = tenure_pivoted.drop(columns =['social_rent', 'social_local_authority'])

MERGE

In [22]:
data_merged = accommodation_pivoted.merge(rooms_pivoted, on = 'Output Areas Code', how = 'left')

In [23]:
data_merged = data_merged.merge(heating_pivoted, on = 'Output Areas Code', how = 'left')

In [24]:
data_merged = data_merged.merge(bedrooms_pivoted, on = 'Output Areas Code', how = 'left')

In [25]:
data_merged = data_merged.merge(heating_pivoted, on = 'Output Areas Code', how = 'left')

In [31]:
data_merged = data_merged.merge(tenure_pivoted, on = 'Output Areas Code', how = 'left')
data_merged.head()

,detached/semi/terraced,flat/whole_house,other_accommodation,1 room,2 rooms,3 rooms,4 rooms,5 rooms,6 rooms,7 rooms,...,Tank or bottled gas only_y,Two or more types of central heating (including renewable energy)_y,Two or more types of central heating (not including renewable energy)_y,Wood only_y,owner_occupied_x,private_rented_x,social_rented_x,owner_occupied_y,private_rented_y,social_rented_y
Output Areas Code,,,,,,,,,,,,,,,,,,,,,
E00000001,1,93,0,0,3,5,8,73,2,2,...,1,0,11,0,72,15,7,72,15,7
E00000003,12,97,0,1,1,5,11,45,43,1,...,0,0,11,0,91,17,2,91,17,2
E00000005,1,62,0,1,6,37,9,7,3,0,...,0,0,6,0,40,21,2,40,21,2
E00000007,2,76,8,1,33,44,4,3,1,0,...,2,1,6,0,29,57,1,29,57,1
E00000010,0,121,4,20,94,6,2,3,0,0,...,2,0,13,0,25,31,70,25,31,70

In [27]:
data_merged.to_csv('data_merged.csv')