In [24]:
import pandas as pd

ACCOMMODATION TYPE

In [25]:
accommodation_type = pd.read_csv('TS044-2021-1-filtered-2023-01-23T09_05_19Z.csv')
accommodation_type = accommodation_type.drop(columns = ['Output Areas'])
accommodation_type = accommodation_type.rename(columns={'Observation': 'Observation_accommodation'})

accommodation = accommodation_type[accommodation_type['Output Areas Code'] == 'E00009198']

In [26]:
accommodation_pivoted = accommodation_type.pivot(index="Output Areas Code", columns="Accommodation type (8 categories)", values="Observation_accommodation")
accommodation_pivoted = accommodation_pivoted.rename(columns ={'Semi-detached':'semi_detached', 'In a purpose-built block of flats or tenement':'flat_tenement', 'Part of a converted or shared house, including bedsits':'house', 'A caravan or other mobile or temporary structure':'caravan','In a commercial building, for example, in an office building, hotel or over a shop':'commercial', 'Part of another converted building, for example, former school, church or warehouse':'converted'})

In [27]:
accommodation_pivoted['detached/semi/terraced'] = accommodation_pivoted.Detached + accommodation_pivoted.semi_detached + accommodation_pivoted.Terraced
accommodation_pivoted = accommodation_pivoted.drop(columns =['Detached', 'semi_detached', 'Terraced'])

In [28]:
accommodation_pivoted['flat/whole_house'] = accommodation_pivoted.flat_tenement + accommodation_pivoted.house
accommodation_pivoted = accommodation_pivoted.drop(columns =['flat_tenement', 'house'])

In [29]:
accommodation_pivoted['other_accommodation'] = accommodation_pivoted.caravan + accommodation_pivoted.commercial + accommodation_pivoted.converted
accommodation_pivoted = accommodation_pivoted.drop(columns =['caravan', 'commercial', 'converted'])

HEATING

In [30]:
heating = pd.read_csv('TS046-2021-1-filtered-2023-01-23T09_05_38Z.csv')
heating = heating.drop(columns = ['Output Areas'])
heating = heating.rename(columns={'Observation': 'Observation_heating'})

In [31]:
heating_pivoted = heating.pivot(index="Output Areas Code", columns="Type of central heating in household (13 categories)", values="Observation_heating")

BEDROOMS

In [66]:
bedrooms = pd.read_csv('TS050-2021-1-filtered-2023-01-23T09_06_02Z.csv')
bedrooms.head()

,Output Areas Code,Output Areas,Number of Bedrooms (5 categories) Code,Number of Bedrooms (5 categories),Observation
0,E00000001,E00000001,-9,Does not apply,0
1,E00000001,E00000001,1,1 bedroom,6
2,E00000001,E00000001,2,2 bedrooms,23
3,E00000001,E00000001,3,3 bedrooms,61
4,E00000001,E00000001,4,4 or more bedrooms,4

In [67]:
bedrooms = bedrooms.drop(columns = ['Output Areas'])
bedrooms = bedrooms.rename(columns={'Observation': 'Observation_bedrooms'})
bedrooms.head()

,Output Areas Code,Number of Bedrooms (5 categories) Code,Number of Bedrooms (5 categories),Observation_bedrooms
0,E00000001,-9,Does not apply,0
1,E00000001,1,1 bedroom,6
2,E00000001,2,2 bedrooms,23
3,E00000001,3,3 bedrooms,61
4,E00000001,4,4 or more bedrooms,4

In [68]:
bedrooms_pivoted = bedrooms.pivot(index="Output Areas Code", columns="Number of Bedrooms (5 categories)", values="Observation_bedrooms")
bedrooms_pivoted = bedrooms_pivoted.rename(columns = {'Does not apply':'Does not apply_bedrooms'})
bedrooms_pivoted.head()

Number of Bedrooms (5 categories),1 bedroom,2 bedrooms,3 bedrooms,4 or more bedrooms,Does not apply_bedrooms
Output Areas Code,,,,,
E00000001,6,23,61,4,0
E00000003,5,27,45,32,0
E00000005,32,21,7,3,0
E00000007,33,42,7,4,0
E00000010,108,12,2,3,0

ROOMS

In [34]:
rooms = pd.read_csv('TS051-2021-1-filtered-2023-01-23T09_06_23Z.csv')
rooms = rooms.drop(columns = ['Output Areas'])
rooms = rooms.rename(columns={'Observation': 'Observation_rooms'})

In [69]:
rooms_pivoted = rooms.pivot(index="Output Areas Code", columns="Number of rooms (Valuation Office Agency) (9 categories)", values="Observation_rooms")
rooms_pivoted.head()

Number of rooms (Valuation Office Agency) (9 categories),1 room,2 rooms,3 rooms,4 rooms,5 rooms,6 rooms,7 rooms,8 rooms,9 or more rooms
Output Areas Code,,,,,,,,,
E00000001,0,3,5,8,73,2,2,1,0
E00000003,1,1,5,11,45,43,1,1,0
E00000005,1,6,37,9,7,3,0,0,0
E00000007,1,33,44,4,3,1,0,2,0
E00000010,20,94,6,2,3,0,0,0,0

TENURE

In [70]:
tenure = pd.read_csv('TS054-2021-1-filtered-2023-01-23T09_04_52Z.csv')
tenure = tenure.drop(columns = ['Output Areas'])
tenure = tenure.rename(columns={'Observation': 'Observation_tenure'})

In [71]:
tenure_pivoted = tenure.pivot(index="Output Areas Code", columns="Tenure of household (9 categories)", values="Observation_tenure")
tenure_pivoted = tenure_pivoted.rename(columns = {'Owned: Owns outright':'own_outright', 'Owned: Owns with a mortgage or loan':'own_mortgage', 'Private rented: Other private rented':'private_rent', 'Shared ownership: Shared ownership':'shared_ownership', 'Social rented: Other social rented':'social_rent', 'Social rented: Rents from council or Local Authority':'social_local_authority', 'Private rented: Private landlord or letting agency':'private_rent_agency'})

In [72]:
tenure_pivoted['owner_occupied'] = tenure_pivoted.own_outright + tenure_pivoted.shared_ownership + tenure_pivoted.own_mortgage
tenure_pivoted = tenure_pivoted.drop(columns =['Does not apply', 'Lives rent free', 'own_outright', 'shared_ownership', 'own_mortgage'])

In [73]:
tenure_pivoted['private_rented'] = tenure_pivoted.private_rent + tenure_pivoted.private_rent_agency
tenure_pivoted = tenure_pivoted.drop(columns =['private_rent', 'private_rent_agency'])

In [74]:
tenure_pivoted['social_rented'] = tenure_pivoted.social_rent + tenure_pivoted.social_local_authority
tenure_pivoted = tenure_pivoted.drop(columns =['social_rent', 'social_local_authority'])
tenure_pivoted.head()

Tenure of household (9 categories),owner_occupied,private_rented,social_rented
Output Areas Code,,,
E00000001,72,15,7
E00000003,91,17,2
E00000005,40,21,2
E00000007,29,57,1
E00000010,25,31,70

MERGE

In [75]:
data_merged = accommodation_pivoted.merge(rooms_pivoted, on = 'Output Areas Code', how = 'left')

In [76]:
data_merged = data_merged.merge(heating_pivoted, on = 'Output Areas Code', how = 'left')

In [77]:
data_merged = data_merged.merge(bedrooms_pivoted, on = 'Output Areas Code', how = 'left')

In [78]:
data_merged = data_merged.merge(tenure_pivoted, on = 'Output Areas Code', how = 'left')
data_merged.head()

,detached/semi/terraced,flat/whole_house,other_accommodation,1 room,2 rooms,3 rooms,4 rooms,5 rooms,6 rooms,7 rooms,...,Two or more types of central heating (not including renewable energy),Wood only,1 bedroom,2 bedrooms,3 bedrooms,4 or more bedrooms,Does not apply_bedrooms,owner_occupied,private_rented,social_rented
Output Areas Code,,,,,,,,,,,,,,,,,,,,,
E00000001,1,93,0,0,3,5,8,73,2,2,...,11,0,6,23,61,4,0,72,15,7
E00000003,12,97,0,1,1,5,11,45,43,1,...,11,0,5,27,45,32,0,91,17,2
E00000005,1,62,0,1,6,37,9,7,3,0,...,6,0,32,21,7,3,0,40,21,2
E00000007,2,76,8,1,33,44,4,3,1,0,...,6,0,33,42,7,4,0,29,57,1
E00000010,0,121,4,20,94,6,2,3,0,0,...,13,0,108,12,2,3,0,25,31,70

In [79]:
data_merged.to_csv('data_merged.csv')